.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100vh;
  .logo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #010010;
    height: 200px;
    h1 {
      margin: 10px;
      font-size: 3rem;
      font-family: "OTF Glusp", Tahoma, Geneva, Verdana, sans-serif;
      background: rgb(63, 94, 251);
      background: radial-gradient(
        circle,
        #00ffff 20%,
        #25bfff 30%,
        #4b7fff 40%,
        #703fff 50%,
        #9600ff 60%
      );
      overflow: hidden;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-stroke: 0.1em transparent;
    }
    h2 {
      color: #ffffff;
    }
    h5 {
      margin-top: 10px;
      color:  mix(#010010, white, 37%);
    }
    img {
      width: 100px;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    .link {
      border-top: 0.5px solid  mix(#010010, white, 87%);
      border-bottom: 0.5px solid  mix(#010010, white, 87%);
      height: 53px;
      font-size: 1.05rem;
      color:  mix(#010010, white, 37%);
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, #00ffff 10%, #4b7fff 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .social {
    margin-top: 20px;
    height: 200px;
    padding: 0px 20px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    li {
      width: 20px;
      list-style: none;
      img {
        width: 100%;
        filter: invert(65%) sepia(8%) saturate(184%) hue-rotate(201deg)
          brightness(87%) contrast(86%);
        &:hover {
          cursor: pointer;
          filter: invert(100%) sepia(88%) saturate(7429%) hue-rotate(100deg)
            brightness(104%) contrast(107%);
        }
      }
    }
  }
}
